<h1>Pages</h1>

<div data-turbolinks="false">
  <div class="ui button">
    <i class="plus icon"></i>
    <%= link_to 'New Page', new_page_path %>
  </div>
  <div class="ui button">
    <i class="settings icon"></i>
    <%= link_to 'Start translations workflow', workflow_validate_pages_start_path %>
  </div>
  <div class="ui button">
    <i class="settings icon"></i>
    <%= link_to 'Send validated pages to translation', workflow_send_translations_start_path %>
  </div>
  <div class="ui button">
    <i class="settings icon"></i>
    <%= link_to 'Fetch finished translations', workflow_check_finished_translations_start_path, data: { confirm: 'Are you sure? This will override translations' } %>
  </div>
</div>



<div class="pages-container group-container">
<% @grouped_pages.each_pair do |folder, pages| %>
  <h2><%= folder %></h2>
    <div class="folder-container">
    <% pages.each do |page| %>
      <div class="page-container">
        <div class="gradient-container">
          <div class="gradient" data-name="<%= page.name %>">
            <h3><%= page.name.first %></h3>
          </div>
        </div>
        <div class="title-container">
          <h3>
            <%= link_to page.name, page_path(page), data: { turbolinks: false }  %>
          </h3>
        </div>
        <div class="description-container">
          <ul>
            <% page.page_activities.last(2).each do |page_activity| %>
              <li>
                <div class="<%= page_activity.activity_type %>">
                </div>
                <%= page_activity.note %>
                <%= time_ago_in_words page_activity.created_at %> by <%= page_activity.user ? page_activity.user.email : "System" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    </div>
<% end %>
</div>
