<h1>Publish</h1>


<%= form_with(url: page_publish_do_path(page_id: @page), class: "rails-form") do |form| %>

<div class="assets-upload">
  <div class="switch">
    <%= check_box_tag "publish_assets", "yes", true, id: :publishImages %>
     <label for="publishImages"></label> Publish Images
  </div>
</div>



<div class="switch">
    <%= check_box_tag "select-all-locales", "yes", true, id: :selectAll  %> 
     <label for="selectAll"></label>Select all
 </div>



  <div id="countries">
    <% @approvedSites.each do |site|%>

     <% if  current_user.allowed_countries_include?(site[:id]) %>


      <div class="country">
        <div class="checkbox-container switch">
    
          <%= check_box_tag "countries[#{site[:id]}]", "yes", true, id: site[:id]  %>
          <%= label_tag site[:id]%>
       
        </div>
        <div class="details">
          <h3><%= site[:name] %></h3>
          <p class="locales">Locales: <%= site[:locales].pluck("locale").join(", ") %></p>
        </div>
      </div>
    <% end %>
      <% end %>


  </div>



  <div class="actions">
    <%= link_to "Back to page", page_path(@page), class: "ui button" %>
    <% unless @approvedSites.empty? %>
      <%= form.submit "Publish to #{@publishing_target.name}"%>
    <% end %>
  </div>
<% end %>
